.faq {
    width: 100%;
    display: flex;
    justify-content: center;

    .main{
        width: 500px;
        display: block;

        .faqbox{
            background-color: #ccc;
            padding: 10px;
            margin: 15px 0px;

            h4{
                cursor: pointer;
            }
            p{
                display: none;
            }
        }

        .faqbox.active{
            p{
                display: block;
            }
        }
    }
}

.test_list{
    list-style-type: square;

    li{
        margin-top: 10px;
    }

    .test_btn{
        background-color: #ccc;
        margin-left: 12px;
        padding: 2px 5px;
    }
}

.quiz{
    margin-left: 20px;

    .rbtn{
        margin-top: 8px;
    }

    button{
        margin-top: 20px;
        cursor: pointer;
    }
}

.chatDec{
    color: red;
}

.etracker_main{
    width: 400px;
    margin: 0 auto;
    background: #e6f3ff;
    padding: 50px;

    .your_balance{
        margin-bottom: 0px;
        font-weight: bold;
        p{
            margin-bottom: 10px;
            font-size: 18px;
        }
    }

    .income_expense{
        display: flex;
        justify-content: center;
        padding: 10px;
        background: #fff;
        margin-top: 32px;
        h4{
            font-size: 18px;
        }
        .income_expense_left{
            padding-right: 50px;
            border-right: 1px solid #ccc;
            margin-right: 50px;
        }
    }

    .etrack_exp_list{
        margin-top: 32px;
        p{
            font-weight: bold;
            font-size: 18px;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            background: #fff;
            padding: 5px 10px;
        }
    }

    .add_new_transaction{
        margin-top: 29px;
        p{
            margin-bottom: 10px;
            margin-top: 20px;
        }
        input{
            width: 100%;
        }
    }

    .add_new_transaction{
        .etrack_btn{
            text-align: center;
            margin-top: 20px;
            button{
                padding: 5px 40px;
                border: 0px;
                background: #9c9cb7;
                color: #fff;
            }
        }
    }
}

.tr_delete{
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}

.main{
    max-width: 800px;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;

    .textbox{
        .allfm{
            display: ruby;
            button{
                margin-bottom: 5px;
            }
        }
    }

    .taskManager{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    
        .todo{
            display: block;
            width: 100%;
            text-align: center;
            margin-right: 20px;
            color: #fff;
            background-color: #07b151;
            font-weight: 700;

            ol{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    text-align: left;
                    background-color: #ccc;
                    margin: 10px 10px;
                    color: #000;
                    font-size: 14px;
                    padding: 5px 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    i{
                        cursor: pointer;
                    }
                }
            }
        }
    
        .doing{
            @extend .todo;
            background-color: #2fbbb3;
        }
    
        .done{
            @extend .todo;
            background-color: #8cc640;
        }
    }
}

.drag_mainbox{
    display: flex;
    justify-content: space-between;
    width: 500px;
    min-height: 200px;
    //border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 20px;

    .left{
        min-width: 200px;
        display: block;
        border: 1px solid #ccc;
        min-height: 200px;

        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                background-color: #2fbbb3;
                margin: 10px 0px;
                padding: 4px 5px;
                cursor: pointer;
            }
        }
    }

    .right{
        @extend .left;
    }
}